#title {

}
#color-palette {
  
}
.color {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
}
#primeiraPaleta {
  background-color: black;
}
#segundaPaleta {
  background-color: red;
  color: red;
}
#terceiraPaleta {
  background-color: blue;
  color: blue;
}
#quartaPaleta {
  background-color: yellow;
  color: yellow;
}
#pixel-board {
  margin-top: 30px;
  background-color: white;
}
.pixel {
  border: solid 1px black;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
  background-color: white;
}
